/* DOM Base Styles
---------------------------------- */
*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  background: white;
  color: #333333;
  font-family: 'Source Sans Pro';
}
