.subsection(data-title="Company Information")
  fieldset
    .checkboxes
      input#vehicle1(type="checkbox" name="vehicle" value="Bike")
      label(for="check1") Checkbox 2
      input#vehicle2(type="checkbox" name="vehicle" value="Car")
      label(for="check2") Checkbox 1
    button.get-next-view Next

  fieldset#alias
    input(type="text" name='alias' placeholder='your alias')
    button.get-prev-view
    button.review-section Review Section
