fieldset(data-title="MID Billing Email Template")
  .guide-text
    h3 Billing Email Template
    p Below are a few billing reminder email templates. Which template would you like to use for your billing reminders?
  label.hidden-review Select a template from one of the options.
  .template-select#mid_billing_email_template
    .template-select__row
      .template-select__col
        .template-select__inner
          h3.template-select__heading Templates
          .template-select__templates-wrapper
            .template-select__group
              .template-select__template(name="Template 1")
                img(src="img/template-preview.png", alt="")
              .template-select__template(name="Template 2")
                img(src="https://lorempixel.com/500/500", alt="")
              .template-select__template(name="Template 3")
                img(src="https://lorempixel.com/500/500", alt="")
              .template-select__template(name="Template 4")
                img(src="https://lorempixel.com/500/500", alt="")
              .template-select__template(name="Template 5")
                img(src="https://lorempixel.com/500/500", alt="")
              .template-select__template(name="Template 6")
                img(src="https://lorempixel.com/500/500", alt="")
      .template-select__col
        .template-select__inner
          h3.template-select__heading Preview
          .template-select__preview
