.o-wizard__section.js-section#section_billing
  fieldset.c-form__fieldset.js-fieldset#fieldset_select
    legend.c-form__legend Select
    label(for='exampleSelect1').c-input__label Example select
    select#exampleSelect1.js-input.c-input
      option 1
      option 2
      option 3
      option 4
      option 5
    label(for='exampleSelect2').c-input__label Example multiple select
    select#exampleSelect2.js-input.c-input(multiple='')
      option 1
      option 2
      option 3
      option 4
      option 5
