section#create_your_account(title="Create Your Account")
  .subsection#user_details(title="User Details")
    fieldset#intro.introduction
      h3 Welcome! Let's start recovering your revenue.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ipsum exercitationem illum voluptatem animi. Illo nulla libero praesentium blanditiis eveniet rerum tempore ea sequi quo, ducimus, voluptatibus. At, quis, nesciunt!
      button.get-next-view Let's Begin

    fieldset#about
      .guide-text
        h3 Tell us about yourself.
        p Let us know your name and preferred email address.
      label(for="first_name") What is your first name?
      input#first_name(type="text" name='firstname' placeholder='First Name')
      label(for="last_name") What is your last name?
      input#last_name(type="text" name='lastname' placeholder='Last Name')
      label(for="email") What is your email?
      input#email(type="email" name='email' placeholder='Your Email')
      button.get-next-view Continue

    fieldset#primary_billing
      .guide-text
        h3 Who should we contact?
        p <span class="js-dynamic-text" data-dynamic="firstname">{{firstname}}</span>, should we contact you directly with any account issues, status reports, and billing inquiries?
      .radios
        label Are you the <strong>primary</strong> contact for your company?
        input#primary_contact_no(type="radio" name='is_primary_contact' value='no' checked='')
        label(for="primary_contact_no") No
        input#primary_contact_yes(type="radio" name='is_primary_contact' value='yes')
        label(for="primary_contact_yes") Yes
      .radios
        label Are you the <strong>billing</strong> contact for your company?
        input#billing_contact_no(type="radio" name='is_billing_contact' value='no' checked='')
        label(for="billing_contact_no") No
        input#billing_contact_yes(type="radio" name='is_billing_contact' value='yes')
        label(for="billing_contact_yes") Yes
      button.get-prev-view
      button.review-subsection Review & Confirm

  .subsection(title="Company Information")
    fieldset
      .checkboxes
        input#vehicle1(type="checkbox" name="vehicle" value="Bike")
        label(for="check1") Checkbox 2
        input#vehicle2(type="checkbox" name="vehicle" value="Car")
        label(for="check2") Checkbox 1
      button.get-next-view Next

    fieldset#alias
      input(type="text" name='alias' placeholder='your alias')
      button.get-prev-view
      button.review-section Review Section
