.o-wizard__section.js-section#section_data_types
  fieldset.c-form__fieldset.js-fieldset#fieldset_textarea
    label(for='exampleTextarea').c-input__label Example textarea
    textarea#exampleTextarea.js-input.c-input(rows='3')

  fieldset.c-form__fieldset.js-fieldset#fieldset_upload
    label(for='exampleInputFile').c-input__label File input
    input#exampleInputFile.js-input.c-input.c-input--file(type='file', aria-describedby='fileHelp')
    small#fileHelp.c-form-text.text-muted This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.

  fieldset.c-form__fieldset.js-fieldset#fieldset_radios
    legend Radio buttons
    .c-form__check
      label.c-input__label.c-input__label--check
        input#optionsRadios1.js-input.c-input.c-input--check(type='radio', name='optionsRadios', value='option1', checked='')
        |  Option one is this and that—be sure to include why it's great
    .c-form__check
      label.c-input__label.c-input__label--check
        input#optionsRadios2.js-input.c-input.c-input--check(type='radio', name='optionsRadios', value='option2')
        |  Option two can be something else and selecting it will deselect option one
    .c-form__check.is-disabled
      label.c-input__label.c-input__label--check
        input#optionsRadios3.js-input.c-input.c-input--check(type='radio', name='optionsRadios', value='option3', disabled='')
        |  Option three is disabled
