.subsection#business_details(data-title="Business Details")
  fieldset(data-title="Currencies")
    .guide-text
      h3 Let's talk money.
      p List all the currencies that you use for processing transactions.
    .field
      label(for="currencies") Select currencies you accept:
      select#currencies(name="currencies" placeholder="Currencies" multiple)
        //- include empty <option> for Select2 placeholder
        option
        option(value="usd") USD ($)
        option(value="eur") EUR (€)
        option(value="jpy") JPY (¥)
    .controller-wrapper
      button.get-next-view Continue

  fieldset(data-title="Offers")
    .guide-text
      h3 What types of billing plans do you offer?
      p There’s more than one way to pay with a credit card … which do you utilize?
    .field
      label.hidden-review Select all the offer types you may accept from the choices below.
      .pills.pills--checkboxes
        input#offersFree(type="checkbox" class="pills__input" name="offers" value="Free Trial")
        label(for="offersFree") Customers sign up for a free or discounted trial and are billed automatically if they do not cancel within a pre-set timeframe.
        input#offersSingle(type="checkbox" class="pills__input" name="offers" value="Single Order")
        label(for="offersSingle") Customers order products or services through a traditional single transaction.
        input#offersRecurring(type="checkbox" class="pills__input" name="offers" value="Recurring")
        label(for="offersRecurring") Customers are billed automatically on a recurring basis until they cancel or modify their subscription.
        .controller-wrapper
          button.get-prev-view
          button.get-next-view Continue

  fieldset(data-title="Number of Chargebacks")
    .guide-text
      h3 How extensive is your chargeback issue?
      p Estimate the number of chargebacks you receive per month.
    .block
      label Select a range from one of the options below:
      .pills.pills--radios.js-pills-select2
        input#number_chargebacks_10(type="radio" class="pills__input" name="number_of_chargebacks" value="Less than 10 Chargebacks" checked)
        input#number_chargebacks_25(type="radio" class="pills__input" name="number_of_chargebacks" value="10 to 25 Chargebacks")
        input#number_chargebacks_50(type="radio" class="pills__input" name="number_of_chargebacks" value="25 to 50 Chargebacks")
        input#number_chargebacks_100(type="radio" class="pills__input" name="number_of_chargebacks" value="50 to 100 Chargebacks")
        input#number_chargebacks_250(type="radio" class="pills__input" name="number_of_chargebacks" value="100 to 250 Chargebacks")
        input#number_chargebacks_500(type="radio" class="pills__input" name="number_of_chargebacks" value="250 to 500 Chargebacks")
        input#number_chargebacks_more(type="radio" class="pills__input" name="number_of_chargebacks" value="500+ Chargebacks")
      .controller-wrapper
        button.get-prev-view
        button.review-subsection Review
