.subsection#company_information(data-title="Company Information")
  fieldset(data-title="Name & Industry")
    .guide-text
      h3 Tell us about your company.
      p Alright <span data-dynamic-text="user_first_name">then</span>, now we need to know some basic information about your company.
    .field
      label(for="company_name") What is the name of your company?
      input#company_name(type="text" name="company_name" placeholder="Company Name")
    .block
      label(for="company_type") Which industry best describes your business?
      select.js-industry-select#company_type(name="company_type" placeholder='Select Industry')
    button.get-next-view Next

  fieldset(data-title="Company Location")
    .guide-text
      h3 Where is <span data-dynamic-text="company_name">your company</span> located?
      p Where is the primary headquarters for <span data-dynamic-text="company_name">your company</span>?
    .block
      label(for="company_country") What country is <span data-dynamic-text="company_name">your company</span> in?
      select.js-country-select#company_country(name="company_country" placeholder='Company Country')
      .field
        label(for="company_street_address") What is the street address?
        input#company_street_address(type="text" name="company_street_address" placeholder="Street Address")
      .field
        label(for="company_city_state") What is the city, state, and postal code?
        input#company_city_state(type="text" name="company_city_state" placeholder="City/State/Zip")
    button.get-prev-view
    button.review-subsection Review
