.subsection#evidence_fields(data-title="Evidence Fields")
  fieldset(data-title="Basic Evidence")
    .guide-text
      h3 Transaction data (basic).
      p What types of basic information are you receiving?
    .block
      label.hidden-review Here are some basic types of transaction data. Which ones are available to you (select all that apply)?
      .pills.pills--checkboxes.pills--inline.js-pills-select2(multiple)
        input#basic_evidence_first_name(type="checkbox" class="pills__input" name="evidence_basic" value="First Name")
        .tooltip Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur incidunt sed harum architecto modi aut repellat quae voluptatem quod iure minima quia quasi, beatae et alias obcaecati possimus quam, molestiae.
        input#basic_evidence_last_name(type="checkbox" class="pills__input" name="evidence_basic" value="Last Name")
        .tooltip Lorem ipsum dolor sit consectetur adipisicing elit.
        input#basic_evidence_email(type="checkbox" class="pills__input" name="evidence_basic" value="Email Address")
        input#basic_evidence_billing_address(type="checkbox" class="pills__input" name="evidence_basic" value="Billing Address")
        input#basic_evidence_shipping_address(type="checkbox" class="pills__input" name="evidence_basic" value="Shipping Address")
        input#basic_evidence_cc_exp_date(type="checkbox" class="pills__input" name="evidence_basic" value="CC Expiration Date")
        .block
          button.get-next-view Continue

  fieldset(data-title="Advanced Evidence")
    .guide-text
      h3 Transaction data (advanced).
      p More complex types of information—which are you receiving?
    .block
      label(for="evidence_advanced_select2") Which of the following types of transaction data are available to you (select all that apply)?
      .pills.pills--checkboxes.pills--inline.js-pills-select2.js-evidence-advanced(placeholder="Advanced Evidence Fields" multiple)
      .block
        button.get-prev-view
        button.get-next-view Continue

  fieldset(data-title="Sales Method Evidence")
    .guide-text
      h3 Transaction data (sales-method-specific).
      p Based on what we’ve learned so far, we’ve got more suggestions for available data.
    .block
      label.hidden-review Which of the following are available to you (select all that apply)?
      .pills.pills--checkboxes.pills--inline.js-pills-select2(multiple)
        input#sales_evidence_digital_download(type="checkbox" class="pills__input" name="evidence_sales" value="Digital Download")
        input#sales_evidence_last_name(type="checkbox" class="pills__input" name="evidence_sales" value="Last Name")
        input#sales_evidence_email(type="checkbox" class="pills__input" name="evidence_sales" value="Email Address")
        input#sales_evidence_billing(type="checkbox" class="pills__input" name="evidence_sales" value="Billing")
        .block
          button.get-prev-view
          button.get-next-view Continue

  fieldset(data-title="Industry Specific Evidence").last-view-in-section
    .guide-text
      h3 Transaction data (industry-specific).
      p Based on your business’ industry, we’ve got more suggestions for available data.
    .block
      label.hidden-review Do you have access to any of the following (select all that apply)?
      .pills.pills--checkboxes.pills--inline.js-pills-select2(multiple)
        input#industry_evidence_address(type="checkbox" class="pills__input" name="evidence_industry" value="Location Address")
        input#industry_evidence_last_name(type="checkbox" class="pills__input" name="evidence_industry" value="Last Name")
        input#industry_evidence_email(type="checkbox" class="pills__input" name="evidence_industry" value="Email Address")
        input#industry_evidence_billing(type="checkbox" class="pills__input" name="evidence_industry" value="Billing")
      .block
        button.get-prev-view
        button.review-subsection Review
        button.get-next-section Next Section
