.subsection#user_details(data-title="User Details")
  fieldset#intro.introduction
    .guide-text
      h3 Welcome! Let's start recovering your revenue.
      p This section requires some potentially complex information. You may find it easier to access that data before we actually begin. Where are you first notified of chargebacks? Whether through your banking portal (typical) or some other venue, you’ll need to refer to that information—so locate it and open it on another monitor, window, or tab.
    button.get-next-view Let's Begin

  fieldset#about(data-title="You")
    .guide-text
      h3 Tell us about yourself.
      p As the account administrator, tell us your name and preferred email address.
    .field
      label(for="user_first_name") What is your first name?
      input#user_first_name(type="text" name='user_first_name' placeholder='First Name')
    .field
      label(for="user_last_name") What is your last name?
      input#user_last_name(type="text" name='user_last_name' placeholder='Last Name')
    div
      label(for="user_email") What is your email?
      input#user_email(type="email" name='user_email' placeholder='Email')
    button.get-next-view Continue

  fieldset#primary_and_billing
    .guide-text
      h3 Whom should we contact?
      p <span data-dynamic-text="user_first_name">Ok</span>, should we contact you directly with any account issues, status reports, and billing inquiries?
    .radios.hidden-review
      label Are you the <strong>primary</strong> contact for your company?
      .js-toggle#is_primary_contact
    .radios.hidden-review
      label Are you the <strong>billing</strong> contact for your company?
      .js-toggle#is_billing_contact
    button.get-prev-view
    button.get-next-view Continue

  fieldset#primary_contact(data-title="Primary Contact")
    .guide-text
      h3 Who is the primary contact?
      p Let us know who we should contact with general questions or issues.
    .field
      label(for="primary_contact_firstname") What is their first name?
      input#primary_contact_firstname(type="text" name="primary_contact_firstname" placeholder="First Name")
    .field
      label(for="primary_contact_lastname") What is their last name?
      input#primary_contact_lastname(type="text" name="primary_contact_lastname" placeholder= "Last Name")
    button.get-prev-view
    button.get-next-view Continue

  fieldset#billing_contact(data-title="Billing Contact")
    .guide-text
      h3 Who will be our contact for billing inquiries?
      p To whom should we send invoices and notify about any billing issues?
    .field
      label(for="billing_contact_firstname") What is their first name?
      input#billing_contact_firstname(type="text" name="billing_contact_firstname" placeholder="First Name")
    .field
      label(for="billing_contact_lastname") What is their last name?
      input#billing_contact_lastname(type="text" name="billing_contact_lastname" placeholder= "Last Name")
    button.get-prev-view
    button.review-subsection Review

