/* BUTTONS
---------------------------------- */

button {
  background: $color_primary;
  padding: 0 2em;
  height: 2.5em;
  line-height: 2.5em;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-right: 0.5em;
  margin: 12px 0.5em 12px 0;
  border: none;
  outline: none;
  &:focus {
    outline: none;
  }
}

.get-prev-view {
  background: grey(x-light);
  color: grey(base);
  font-weight: bold;
  padding: 0 1.5em;
  line-height: 0.8;
  &:before {
    font-family: Chargeicons;
//    content: '\f053';
    @extend .icon-chevron-left:before;
  }
}
