/* Form
---------------------------------- */

label {
  font-weight: bold;
  width: 100%;
}

label[for] {
  width: auto;
  position: relative;
}

input {
  border: 1px solid grey(x-light);
  padding: 6px 12px;
  display: block;
  width: 100%;
  margin-bottom: 1.5em;
  outline: none;
  transition: 0.2s;
  .in-review & {
    border-color: transparent;
    padding: 0;
    cursor: pointer;
    transition: 0.2s;
  }
  .in-review &.is-focused {
    border-color: grey(x-light);
    padding: 6px 12px;
    transition: 0.2s;
    cursor: initial;
  }
}

input[type="checkbox"],
input[type="radio"] {
  width: 16px;
  height: 16px;
  top: 4px;
  position: relative;
  display: inline-block;
  outline: none;
  &:focus {
    outline: none;
  }
  &+label {
    margin-right: 12px;
  }
}

.checkboxes,.radios {
  overflow: hidden;
  width: 100%;
  margin-bottom: 12px;
}
