/* Form
---------------------------------- */

label {
  font-weight: bold;
  width: 100%;
}

label[for] {
  width: auto;
  position: relative;
}

input,select {
  border: 1px solid grey(x-light);
  padding: 6px 12px;
  display: block;
  width: 100%;
  margin-bottom: 1.5em;
  outline: none;
  transition: 0.2s;
  &:focus { outline: none }
  .in-review & {
    margin-bottom: 1em;
    border-color: transparent;
    cursor: pointer;
    padding: 0;
    padding-bottom: 0.5em;
    transition: 0.2s;
    max-width: 400px;
  }
  .in-review &:focus {
    border-color: grey(x-light);
    transition: 0.2s;
    cursor: initial;
  }
}

input {
  .in-review &:focus {
    border-bottom-color: grey(x-light);
    padding: 6px 12px;
    transition: 0.2s;
    cursor: initial;
  }
}


input[type="checkbox"],
input[type="radio"] {
  width: 16px;
  height: 16px;
  top: 4px;
  position: relative;
  display: inline-block;
  outline: none;
  &:focus {
    outline: none;
  }
  &+label {
    margin-right: 12px;
  }
}

option {
  height: 24px;
}

.checkboxes,.radios {
  overflow: hidden;
  width: 100%;
  margin-bottom: 12px;
}

select option[disabled][value=''] {
  display: none;
}


.js-select2 {
  width: 100%;
}
