/* PILLS
---------------------------------- */

/* Pug example usage:
.pills.pills--checkboxes
  input#offersFree(type="checkbox" class="pills__input" name="offers" value="Free Trial")
  label(for="offersFree") Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed pariatur totam a minus unde hic officiis debitis cupiditate ipsam quas ratione rem quibusdam, est doloremque ea animi praesentium, suscipit iure.
  input#offersSingle(type="checkbox" class="pills__input" name="offers" value="Single Order")
  label(for="offersSingle") Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed pariatur totam a minus unde hic officiis debitis cupiditate ipsam quas ratione rem quibusdam.
  input#offersRecurring(type="checkbox" class="pills__input" name="offers" value="Recurring")
  label(for="offersRecurring") Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed pariatur totam a minus unde hic officiis debitis cupiditate ipsam quas ratione rem quibusdam.
*/

.pills {
  margin-top: 1em;

  .pills__input {
//    height: 0 !important;
//    width: 0 !important;
//    float: left;
    display: none;
    overflow: hidden;
    margin: 0;
  }
  label[for] {
    display: none;
  }
  .pills__option {
    display: block;

    .in-review & p {
      display: none;
    }
  }
  &__option {
    position: relative;
    padding: 1em 4em 1em 1em;
    .pills--radios & {
      padding: 0.5em 3em 0.5em 1em;
      margin-bottom: 0.5em;
    }
    background: white;
    font-weight: 700;
    width: 100%;
    cursor: pointer;
    max-width: 600px;
    color: grey();
    border: 2px solid grey(light);
    margin-bottom: 1em;
    border-radius: 3px;
    font-size: 1.3em;
    transition: 0.1s ease-in-out;
    &:hover {
      border-color: darken(grey(light),10%);
      transition: 0.2s;
    }
    .in-review &, .pills--inline & {
      padding: 0.5em 2em 0.5em 0.5em;
      width: 185px;
      font-weight: normal;
      font-size: 1em;
      margin-bottom: 0.5em;
      margin-right: 0.5em;
      display: inline-block !important;
      &:after {
        right: 0.5em;
        font-size: 16px;
        height: 16px;
        width: 16px;
      }
    }
      .pills--inline & {
        margin-bottom: 0.8em;
      }
    &:after {
      font-family: FontAwesome;
      position: absolute;
      content: '';
      right: 1em;
      top: 0;
      bottom: 0;
      height: 24px;
      width: 24px;
      line-height: 1;
      font-size: 24px;
      margin: auto;
      text-align: center;
      border-radius: 3px;
      transition: 0.1s ease-in-out;
    }

  }
  &__option.is-active,.saved-active + .pills__option {
      background: rgba($color_primary,0.03);
      color: $color_primary;
      border-color: $color_primary;
      transition: 0.1s ease-in-out;
      &:after {
        content: '\F046';
        background: transparent;
        color: $color_primary;
        animation: pop 0.2s ease-in-out normal 1 forwards;
      }
    }
  &__option p {
    cursor: pointer;
    font-size: 0.8em;
    font-weight: normal;
    margin: 0;
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
