/* TOGGLE SWITCH
---------------------------------- */

.toggle {
  $h: 24px;
  height: $h;
  width: $h * 3;
  display: block;
  background: grey(x-light);
  border-radius: $h;
  position: relative;
  margin: 0.5em 0 1.5em;
  box-shadow: 0 -2px 1px 0 rgba(black, 0.15), inset 1px 1px 2px 0 rgba(black,0.2);
  transition: 0.2s;

  &[data-toggled="true"] {
    background: $color_primary;
      transition: 0.2s;

  }


  &__text {
    position: absolute;
    right: $h / 3;
    font-size: $h / 3;
    font-family: sans-serif;
    color: grey();
    line-height: $h + 2; //hacky
    .toggle[data-toggled="true"] & {
      left: 8px;
      color: white;
    }
  }

  &__text:before {
    content: "NO";

    .toggle[data-toggled="true"] & {
      content: "YES";
    }
  }

  &__switch {
    height: $h - 2;
    width: $h - 2;
    border-radius: 50%;
    background: #eeeeee;
    background: linear-gradient(to bottom, #fff, #ededed);
    position: absolute;
    top: 1px;
    left: 1px;
    transition: left 0.15s;
    box-shadow: 0 0 4px 0 rgba(black, 0.2);

    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background: linear-gradient(to top, #fff, #ddd);
      ;
    }

    .toggle[data-toggled="true"] & {
      left: 49px;
      transition: left 0.15s;
    }
  }
}
