section(data-title='Add a Merchant')
  .subsection(data-title='Some Subsection')
    fieldset
      input#email(type="email" name='email' placeholder='your email')
      button.get-prev-section Prev Section
      button.get-next-view Next
    fieldset
      input#textarea(type="textarea" name='textarea' placeholder='your text')
      button.get-prev-view
      button.get-next-subsection
  .subsection(data-title='Some Other Subsection')
    fieldset
      input#email(type="email" name='email' placeholder='your email')
      button.get-prev-subsection Prev Section
      button.get-next-view Next
    fieldset
      input#textarea(type="textarea" name='textarea' placeholder='your text')
      button.get-prev-view
