.wizard#wizard
  .wizard__inner
    main
      form#wizard_form
        include sections/create-your-account/main.pug
        include sections/add-a-merchant/main.pug

    aside
      .clip-cover
      .wizard__nav
