.wizard#wizard
  .wizard__inner
    main
      form#wizard_form
        include sections/create-your-account/main.pug
        include sections/add-a-merchant/main.pug

    aside
      .clip-cover
      .wizard__nav
      form#dev_nav(style="margin-top: 48px;")
        label(for="dev_nav_input") Development Navigation:
        input#dev_nav_input(type="text" placeholder="Enter view name or number" style="margin: 0;")
        button(style="width: 100%")#dev_nav_btn GO TO VIEW
        button(style="width: 100%; background: grey;")#dev_nav_delete_cookies Delete Cookies
