doctype html
html(lang="en").cb
  head
    meta(charset="UTF-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="MID Wizard")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    meta(property="og:type" content="website")
    meta(property="og:title" content="MID Wizard")
    meta(property="og:description" content="MID Wizard")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="robots" content="index, follow")
    meta(property="fb:pages" content="276577305793221")
    title MID Wizard
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
    link(rel="stylesheet" href="{{path}}/css/main.min.css")
    .
      <!--inject:style--><!--endinject-->
