.subsection#user_details(data-title="Merchant Credentials")
  fieldset(data-title="MID Portal Login")
    .guide-text
      h3 Let's connect your MID.
      p In order to start managing disputes, we'll need to connect to your MID. Enter your login for your credit card processing portal or upload a VAR sheet (sometimes called a tear sheet) to get started.
    .field
      label(for="mid_portal_url") Where can we login to your credit card processor?
      input#mid_portal_url(type="text" name="mid_portal_url" placeholder="Processor Portal URL")
    .block
      .field
        label(for="mid_portal_username") What is the username you use to login to the portal?
        input#mid_portal_username(type="text" name="mid_portal_username" placeholder="Portal Username")
      .field
        label(for="mid_portal_password") What is the password you use to login to the portal?
        input#mid_portal_password(type="password" name="mid_portal_password" placeholder="Portal Password")
    .guide-text
      span.u-muted OR
      p If you're unable to provide us with a login for your processor, we can connect manually using a VAR sheet, which can typically be found on the documents when the MID was first opened.
    .block
      label(for="mid_var_sheet") Upload VAR Sheet
      input#mid_var_sheet(type="file" name="mid_var_sheet" placeholder="VAR Sheet")
    .controls-wrapper
      button.review-subsection Review

