.subsection#user_details(data-title="Merchant Credentials")
  fieldset(data-title="")
    .guide-text
      h3 We'll need information specific to this MID.
      p We understand you many have multiple MIDs; the next few questions are specifically in reference to this Merchant ID (MID).
    label(for="some_id") Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    input#some_id(type="text" name="some_id")
    label(for="some_id2") Lorem ipsum reiciendis amet animi quod, inventore voluptatum ducimus autem, voluptas.
    input#some_id2(type="text" name="some_id2")
    .controls-wrapper
      button.get-next-view Continue
