.subsection#user_details(data-title="Merchant Details")
  fieldset#mid_intro.introduction
    h3 Now we need your Merchant ID
    p To add you to our system, we need at least one merchant account (you'll be able to add additional accounts later). This information can usually be found on your statement.
    button.get-next-view Let's Begin
  fieldset#mid_details(data-title="MID Details")
    .guide-text
      h3 MID Details
      p What is the basic information for your Merchant ID?
    .field
      label(for="mid_number") What is your Mechant ID (MID) number?
      input#merchant_id_number(type="text" name='merchant_id_number' placeholder='MID Number')
    .field
      label(for="mid_alias") Create a nickname for this account.
      input#mid_alias(type="text" name='mid_alias' placeholder='MID Alias')
    button.get-next-view Continue
  fieldset#about(data-title="MID Currencies")
    .guide-text
      h3 MID Currencies
      p Which currencies are used with this MID?
    .block
      label(for="mid_currencies") Select the currencies you accept for this MID.
      select#mid_currencies(name='mid_currencies' multiple placeholder='MID Currencies' data-values="currencies")
    .controls-wrapper
      button.get-prev-view
      button.review-subsection Review
