.subsection#user_details(data-title="Merchant Credentials")
  fieldset(data-title="MID Portal Login")
    .guide-text
      h3 It’s time to connect this account!
      p In order to start managing disputes, we'll need to connect to your account. Securely enter your login for your credit card processing portal, or upload a VAR sheet (sometimes called a tear sheet) to get started.
      p <strong>If you access your processor through a portal, please provide the following:</strong>
    .field
      label(for="mid_portal_url") The web address where you currently access data from your processor:
      input#mid_portal_url(type="text" name="mid_portal_url" placeholder="Processor Portal URL")
    .block
      .field
        label(for="mid_portal_username") A user name we can use to log in to the portal:
        input#mid_portal_username(type="text" name="mid_portal_username" placeholder="Portal Username")
      .field
        label(for="mid_portal_password") A password we can use to log in to the portal:
        input#mid_portal_password(type="text" name="mid_portal_password" placeholder="Portal Password")
    .guide-text.guide-text--alt
      span.guide-text__muted OR
      p If you’re unable to provide us with a login for your processor, we can connect manually using a VAR sheet, which can typically be found on the documents your received when the MID was first opened.
    .block
      label(for="mid_var_sheet") Upload VAR Sheet
      input#mid_var_sheet(type="file" name="mid_var_sheet" placeholder="VAR Sheet")
    .controls-wrapper
      button.get-next-view Continue

  fieldset
    .hidden-review
      .guide-text
        h3 Billing Reminder Email Template
        p Below are a few billing reminder email templates. Which template would you like to use for your billing reminders?
      label.hidden-review Select a template from one of the options.
      .template-select#mid_billing_email_template
        .template-select__row
          .template-select__col
            .template-select__inner
              h3.template-select__heading Templates
              .template-select__templates-wrapper
                .template-select__group
                  .template-select__template(name="Template 1")
                    img(src="img/template-preview.png", alt="")
                  .template-select__template(name="Template 2")
                    img(src="https://lorempixel.com/500/500", alt="")
                  .template-select__template(name="Template 3")
                    img(src="https://lorempixel.com/500/500", alt="")
                  .template-select__template(name="Template 4")
                    img(src="https://lorempixel.com/500/500", alt="")
                  .template-select__template(name="Template 5")
                    img(src="https://lorempixel.com/500/500", alt="")
                  .template-select__template(name="Template 6")
                    img(src="https://lorempixel.com/500/500", alt="")
          .template-select__col
            .template-select__inner
              h3.template-select__heading Preview
              .template-select__preview
    .controls-wrapper
      button.get-prev-view
      button.get-next-view Continue

  fieldset
    .hidden-review
      .guide-text
        h3 Order Confirmation Email Template
        p Below are a few order confirmation email templates. Which template would you like to use for your order confirmations?
      label.hidden-review Select a template from one of the options.
      .template-select#mid_billing_email_template
        .template-select__row
          .template-select__col
            .template-select__inner
              h3.template-select__heading Templates
              .template-select__templates-wrapper
                .template-select__group
                  .template-select__template(name="Template 1")
                    img(src="img/template-preview.png", alt="")
                  .template-select__template(name="Template 2")
                    img(src="https://lorempixel.com/500/500", alt="")
                  .template-select__template(name="Template 3")
                    img(src="https://lorempixel.com/500/500", alt="")
                  .template-select__template(name="Template 4")
                    img(src="https://lorempixel.com/500/500", alt="")
                  .template-select__template(name="Template 5")
                    img(src="https://lorempixel.com/500/500", alt="")
                  .template-select__template(name="Template 6")
                    img(src="https://lorempixel.com/500/500", alt="")
          .template-select__col
            .template-select__inner
              h3.template-select__heading Preview
              .template-select__preview
    .controls-wrapper
      button.get-prev-view
      button.get-next-view Continue

  fieldset
    .hidden-review
      .guide-text
        h3 Shipping Confirmation Email Template
        p Below are a few order confirmation email templates. Which template would you like to use for your order confirmations?
      label.hidden-review Select a template from one of the options.
      .template-select#mid_billing_email_template
        .template-select__row
          .template-select__col
            .template-select__inner
              h3.template-select__heading Templates
              .template-select__templates-wrapper
                .template-select__group
                  .template-select__template(name="Template 1")
                    img(src="img/template-preview.png", alt="")
                  .template-select__template(name="Template 2")
                    img(src="https://lorempixel.com/500/500", alt="")
                  .template-select__template(name="Template 3")
                    img(src="https://lorempixel.com/500/500", alt="")
                  .template-select__template(name="Template 4")
                    img(src="https://lorempixel.com/500/500", alt="")
                  .template-select__template(name="Template 5")
                    img(src="https://lorempixel.com/500/500", alt="")
                  .template-select__template(name="Template 6")
                    img(src="https://lorempixel.com/500/500", alt="")
          .template-select__col
            .template-select__inner
              h3.template-select__heading Preview
              .template-select__preview
    .controls-wrapper
      button.review-subsection Review
