.subsection#user_details(data-title="Merchant Setup")
  fieldset#mid_information(data-title="MID Information")
    .guide-text
      h3 We'll need information specific to this MID.
      p We understand you many have multiple MIDs; the next few questions are specifically in reference to this Merchant ID (MID).
    label(for="mid_descriptor") What is this MID's descriptor? (The identifier that cardholders see on their bill)
    input#mid_descriptor(type="text" name="mid_descriptor")
    label(for="mid_url") What is the website URL associated with this descriptor?
    input#mid_url(type="text" name="mid_url")
    .controls-wrapper
      button.get-next-view Continue

  fieldset(data-title="MID Sales Methods and Offers")
    .guide-text
      h3 MID Sales Methods and Offers
      p What are the authorized sales methods for this MID?
    label(for="mid_sales_methods") What authorized Sales Methods are used on this MID?
    select#mid_sales_methods(name="mid_sales_methods" placeholder="Sales Methods" multiple)
      option
      option(value="phone") Phone
      option(value="web") Web
      option(value="online") Online
    label(for="mid_offer_types") What are the authorized offer types for this MID?
    select#mid_offer_types(name="mid_offer_types" data-values="offers" placeholder="Offer Types" multiple)
    .controls-wrapper
      button.get-prev-view
      button.review-subsection Review
