.subsection#user_details(data-title="Upload Documents")
  fieldset(data-title="")
    .guide-text
      h3 Sed quasi earum consequatur laborum, ex laudantium velit eveniet.
      p Blanditiis error quasi ratione, unde architecto adipisci ab nostrum esse.
    label(for="some_id3") Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    input#some_id3(type="text" name="some_id3")
    label(for="some_id4") Reiciendis amet animi quod, inventore voluptatum ducimus autem, voluptas.
    input#some_id4(type="text" name="some_id4")
    .controls-wrapper
      button.get-next-view Continue
